<form autocomplete="off">
    <p class="notes">Please choose a destination pack and/or folder to move the folder to.</p>
    <div class="form-group">
        <label>{{ localize "FOLDER.ExportDestination" }}</label>
        <div class="form-fields">
            <select name="pack">
                {{selectOptions packs selected=pack}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "DOCUMENT.Folder" }}</label>
        <div class="form-fields">
            <select name="folder" {{#unless hasFolders}}disabled{{/unless}}>
                {{selectOptions folders nameAttr="id" labelAttr="name" selected=folder blank=""}}
            </select>
        </div>
    </div>
    <fieldset>
        <legend>{{ localize "FOLDER.ExportOptions" }}</legend>
        <div class="form-group">
            <label>{{ localize "FOLDER.ExportMerge" }}</label>
            <input type="checkbox" name="merge" {{ checked merge }}/>
        </div>
        <div class="form-group">
            <label>{{ localize "FOLDER.ExportKeepFolders" }}</label>
            <input type="checkbox" name="keepFolders" {{ checked keepFolders }}/>
        </div>
        <div class="form-group">
            <label>Relink Derived Items</label>
            <input type="checkbox" name="relink" {{ checked relink }}/>
        </div>
    </fieldset>
</form>
